[submodule "AppData/python_modules/python_utils"]
    path = AppData/python_modules/python_utils
    url = git@gitlab.com:Odyseus/python_utils.git
[submodule "AppData/docs_sources/sphinx_extensions"]
    path = AppData/docs_sources/sphinx_extensions
    url = git@gitlab.com:Odyseus/sphinx_extensions.git
[submodule "AppData/docs_sources/sphinx_rtd_theme_mod"]
    path = AppData/docs_sources/sphinx_rtd_theme_mod
    url = git@gitlab.com:Odyseus/sphinx_rtd_theme_mod.git
